<html lang="en" x-ng-app="app" x-ng-csp>
<head>
<title>WebSocket - SockJS</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" >
<link rel="stylesheet" href="../assets/fontawesome/css/font-awesome.min.css">

<link href="style.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body x-ng-controller="rootController">

<br/>

<header class="container">
	<div class="col-md-4">
		<h1><i>HelloWorld</i></h1>
	</div>	
	<div class="col-md-8">
		<div>
			<div class="col-md-8">
				<input class="form-control input-sm" type="text" 
					x-ng-model="sendingMsg">
			</div>
			<div class="col-md-4">
				<button class="btn btn-default btn-block" 
					x-ng-click="announce()">Announce</button>
			</div>
		</div>
		<br/><br/>
		<div class="col-md-12">
			<pre>{{arrivedMsgs | json}}</pre>
		</div>
	</div>	
</header>

<section class="container">

<div class="col-md-9">
	<table class="table table-condensed table-hover table-striped table-bordered">
	<thead>
		<tr>
			<td width="30" class="text-right">#</td>
			<td>Id</td>
			<td>Value</td>
		</tr>
	</thead>
	<tbody>
		<tr x-ng-repeat="item in ans">
			<td width="30" class="text-right">{{$index+1}}</td>
			<td>{{item.id}}</td>
			<td class="text-right">{{item.value | number}}</td>
		</tr>
	</tbody>  
	</table>
</div>
<div class="col-md-3">
	<div>
		<input class="form-control input-sm" type="text" x-ng-model="anId"
		x-input-mask="'Regex'" mask-option="{ regex : '[A-Za-z]*'}">
	</div>
	<br/>
	<div>
		<button class="btn btn-default btn-block" 
			x-ng-click="nextNumber()">Next Number</button>
	</div>
	<br/>
	<div>
		<pre>{{ans | json}}</pre>
	</div>
</div>
	
</section>

<script type="text/javascript"
	src="../assets/lib/lodash.min.js"></script>
<script type="text/javascript"
	src="../assets/lib/underscore.string.min.js"></script>
<script type="text/javascript" 
	src="../assets/lib/moment.min.js"></script>
<script type="text/javascript" 
	src="../assets/lib/jquery.min.js"></script>
<script type="text/javascript" 
	src="../assets/lib/holder.js"></script>

<script type="text/javascript"
	src="../assets/angular/13x/angular.min.js"></script>
<script type="text/javascript"
	src="../assets/angular/13x/angular-route.min.js"></script>
<script type="text/javascript"
	src="../assets/angular/13x/angular-sanitize.min.js"></script>

<script type="text/javascript" 
	src="../assets/inputmask/jquery.inputmask.bundle.min.js"></script>
<script type="text/javascript" 
	src="../assets/inputmask/green.inputmask4angular.js"></script>

<script type="text/javascript" src="sockjs-0.3.4.js"></script>
<script type="text/javascript" src="stomp.js"></script>

<script type="text/javascript" src="init.js"></script>
<script type="text/javascript" src="ws-sockjs.js"></script>
	
</body>
</html>